{#
/**
 * @file
 * Default theme implementation to display gitlab_pipeline_details.
 *
 * Available variables:
 * - details: Job details array. See Drupal\build_trigger_gitlab_pipeline\Plugin\BuildEnvironment::updateBuild
 *
 * @ingroup themeable
 */
#}
{% if error %}
  <p class="error">{{ error }}</p>
{% endif %}
{% if stages|length > 0 %}
  <h2>Pipeline details</h2>
  <div class="details-wrapper">
    {% for stage, jobs in stages %}
      <h3>{{ stage|capitalize }} stage</h3>
      {% for job in jobs %}
        <h4>{{ job.name }} job</h4>
        <table>
          <tr>
            <th scope="row">Status</th>
            <td>{{ job.status }}</td>
          </tr>
          <tr>
            <th scope="row">Created</th>
            <td>{% if job.created %}{{ job.created|date('Y-m-d H:i:s') }}{% else %}&nbsp;{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">Started</th>
            <td>{% if job.started %}{{ job.started|date('Y-m-d H:i:s') }}{% else %}&nbsp;{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">Finished</th>
            <td>{% if job.finished %}{{ job.finished|date('Y-m-d H:i:s') }}{% else %}&nbsp;{% endif %}</td>
          </tr>
        </table>
        {% if job.log %}
          <h5>Log</h5>
          <a href="{{ url('<current>') }}" class="button button--primary">Hide job log</a>
          <pre>
            {{ job.log }}
          </pre>
        {% else %}
          <a href="{{ url('<current>') }}?show_job_log={{ job.id }}" class="button button--primary">Show job log</a>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
